/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    /* -webkit-tap-highlight-color: rgba(0,0,0,0);*/ /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Landscape layout (with min-width) */

body {
    background-image: url("../img/bgImage.png");
    background-repeat: repeat;
    color: #337ab7 !important;
    padding-top: 60px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    color: white !important;
}
.header{
    background-color: #a8c4f3;
}

.hidden-input {
    display:none;
}
.main-content {
    margin-bottom: 10px;
}

.picture-input {
    padding: 0px !important;
    z-index: 100;
}
.recognized-result {
    padding: 3px;
    border:1px solid black;
    border-radius: 5px;
    width: 100%;
}
.upload-btn {
    margin-top: 10px;
}

input.error {
    border: 1px solid red;
}
label.error {
    color : red;
}

#panoramaImage1.error{
    border-color: red;
}
.displayNone {
    display: none;
}
.imgError {
    color: red;
}
#pointTxtDiv {
    margin-top: 5px;
}
.themeContent {
    text-align: center;
}
.no-padding {
    padding: 0px !important;
}
